.header{
    width: 100%;
}
.header .header-logo{
    height: 162px;
}
.header h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}